blank_issues_enabled: false
contact_links:
  - name: Security report
    url: https://github.com/${GR_GH_USER}/${GR_PROJECT_LOWER}/security/advisories/new
    about: >-
      Please do NOT file public issues for security vulnerabilities.
      Use GitHub Private Vulnerability Reporting (link). See
      SECURITY.md for the full disclosure policy and our commitments.
  - name: Trademark / brand question
    url: https://github.com/${GR_GH_USER}/${GR_PROJECT_LOWER}/issues/new?labels=trademark&template=trademark.yml
    about: >-
      Want to use the ${GR_PROJECT} name or mark for something? Open a
      [trademark]-tagged issue. See TRADEMARK.md.
  - name: Question / discussion
    url: https://github.com/${GR_GH_USER}/${GR_PROJECT_LOWER}/discussions
    about: >-
      For how-to and design questions, open a Discussion instead of an
      issue.
